:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body,
html {
  background-color: #121314;
}

.cell {
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
  color: #343536;
}

/* .cell:hover {
  background-color: cyan;
  color: cyan;
} */

.head {
  background-color: red;
  color: red
}

.food {
  background-color: darkred;
  color: darkred;
}

.tail {
  background-color: green;
  color: green;
}
#dKeys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dKeys div button {
  border-radius: 15px;
  padding: 25px;
  font-size: 25px;
  background-color: #343536;
  color: white;
}

#title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: 42px;
}

#buttonTitle {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0px;
  margin: 0px;
}

#scoreBoard {
  display: flex;
  justify-content: center;
  padding: 18px;
  color: white;
  font-size: 28px;
  font-weight: bolder;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  margin: auto;
  margin-top: 1vh;
  width: 650px;
  height: 650px;
  background-color: #343536;
  color: white;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 8px;
  padding-left: 40px;
}

#buttons button {
  border-radius: 15px;
  padding: 25px;
  font-size: 25px;
  background-color: #343536;
  color: white;
  margin-right: 16px;
  margin-left: 16px;
}


@media only screen and (max-width: 768px) {
  body {
    width: 350px;
  }

  #gameBoard {
    justify-content: center;
    height: 50vh;
    width: 50vh;
    margin: 0
  }
  #dKeys{
    padding-left: 50px;
  }
  #buttons {
    justify-content: center;
    padding-left: 50px;
    margin: 0px;
  }

  #buttons button {
    padding: 14px;
    font-size: 16px;
  }
  #grid21 {
    display: none;
  }
}